<%- include('layouts/header') %>
        
        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>Mandal</h3>
              </div>


            </div>

            <div class="clearfix"></div>

            <div class="">




              <div class="clearfix"></div>




              <div class="clearfix"></div>




            </div>
            <div class="clearfix"></div>

            <div class="">






            </div>

            <div class="col-md-4 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>Add mandal</h2>
                  
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">

                  <form method="post" class="form-horizontal form-label-left">

                    <div class="form-group">
                      <label class="control-label">District</label>

                      <select name="district" class="form-control">
                        <!-- <option value="Andhra Pradesh" <%# typeof doc !='undefined' && doc[0].state =='Andhra Pradesh' ? 'selected': '' %>>Andhra Pradesh</option>
                      	<option value="Telangana" <%# typeof doc !='undefined' && doc[0].state =='Telangana' ? 'selected': '' %>>Telangana</option> -->
                        <% district.forEach(function(dist){%>
                        <option value="<%= dist.district %>"> <%= dist.district %></option>
                        <%});%>
                      </select>
                          
                    </div>
                    <div class="form-group">
                        <label class="control-label">Mandal</label>

                            <input name="mandal" value="<%= typeof doc !='undefined' ? doc[0].mandal : '' %>" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="<%= typeof doc !='undefined' ? 'Change' : 'Add' %>" />
                    </div>
                      
                    
                  </form>
                </div>
              </div>
            </div>












            <div class="col-md-8 col-sm-12 col-xs-12">
              <div class="x_panel">
                <div class="x_title">
                  <h2>All mandal </h2>
                  <!-- <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                      <ul class="dropdown-menu" role="menu">
                        <li><a href="#">Settings 1</a>
                        </li>
                        <li><a href="#">Settings 2</a>
                        </li>
                      </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                  </ul> -->
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <!-- start accordion -->
                  <table class="table table-striped projects">
                      <thead>
                        <tr>
                          <th style="width: 1%">#</th>
                          <th>District</th>
                          <!-- <th>Team Members</th>
                          <th>Project Progress</th> -->
                          <th style="width: 20%">Mandal</th>
                          <th style="width: 20%">Action</th>
                        </tr>
                      </thead>
                      <tbody>

					<% mandal.forEach(function(dist) { %>
                        <tr>
                          <td>#</td>
                          <td>
                            <a><%= dist.district %></a>
                            <br />
                          </td>
                          <td>
                              <a><%= dist.mandal %></a>
                              <br />
                          </td>
                          <td>
                            <!-- <a href="#" class="btn btn-primary btn-xs"><i class="fa fa-folder"></i> View </a> -->
                            <a href="/mcp/mandal/<%= dist._id %>" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                            <a href="/mcp/mandal/delete/<%= dist._id %>" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Delete </a>
                          </td>
                        </tr>
					<% }); %>

                      </tbody>
                    </table>
                    <!-- end of accordion -->
                </div>
              </div>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <!-- /page content -->
<%- include('layouts/footer') %>
