<%- include('layouts/header') -%>
<!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="page-title">
              <div class="title_left">
                <h3>All users</h3>
              </div>

              <div class="title_right">
                <div class="col-md-3 col-sm-3 col-xs-12 form-group pull-right top_search">
                  <div class="input-group">
                      <a href="/mcp/userEdit" type="button" class="btn btn-primary"><i class="fa fa-plus"></i>  Add New User</a>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12">
                <div class="x_panel">
                  <!-- <div class="x_title">
                    <h2>Posts</h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div> -->
                  <div class="x_content">

                    <!-- <p>Simple table with project listing with progress and editing options</p> -->

                    <!-- start project list -->
                    <table class="table table-striped projects">
                      <thead>
                        <tr>
                          <th style="width: 1%">#</th>
                          <th>Name</th>
                          <th>State</th>
                          <th style="width: 15%">District</th>
                          <th  style="width: 15%">Mandal</th>
                          <th>Role</th>
                          <th style="width: 15%">Email</th>
                          <th style="width: 20%">Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% users.forEach(function(user) { %>
                        <tr>
                          <td>#</td>
                          <td>
                            <a><%= user.fullname %> </a>
                            <br />
                          </td>
                          <td>
                            <a><%= typeof user.state != 'undefined' ? user.state:'' %> </a>
                            <br />
                          </td>
                          <td>
                            <a><%= typeof user.district != 'undefined' ? user.district:'' %> </a>
                            <br />
                          </td>
                          <td>
                            <a><%= typeof user.mandal != 'undefined' ? user.mandal:'' %> </a>
                            <br />
                          </td>
                          <td>
                              <a><%= typeof user.role_id.role && user.role_id.role =='district_editor'?'District Editor': (typeof user.role_id.role && user.role_id.role =='village_reporter'?'Mandal Reporter':'Administrator'); %> </a>
                              <br />
                          </td>
                          <td>
                              <a><%= user.email %></a>
                              <br />
                          </td>
                          <td>
                            <a href="/mcp/userEdit/<%= user._id %>" class="btn btn-info btn-xs"><i class="fa fa-pencil"></i> Edit </a>
                            <% if (!user.status || user.status == 'active' || user.status == 'true') { %>
								<% if(user.fullname != 'swaerotimes'){ %>
								  <a href="/mcp/deactivate/<%= user._id %>" class="btn btn-danger btn-xs"><i class="fa fa-trash-o"></i> Deactivate </a>
								<% } %>
                            <% } else if (typeof user.status != 'undefined' && user.status == 'de-active') { %>
                              <a href="/mcp/activate/<%= user._id %>" class="btn btn-success btn-xs"><i class="fa fa-check"></i> Activate </a>
                            <% } %> 
                          </td>
                        </tr>
                        <% }); %>
                      </tbody>
                    </table>
                    <!-- end project list -->

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->


<%- include('layouts/footer') -%>